alter table	all_constants	add primary key (	id	);
alter table	pr_month_details	add primary key (	id	);
alter table	pr_emp_adv_loans	add primary key (	id	);
alter table	pr_loan_master	add primary key (	id	);
alter table	pr_emp_tds_process	add primary key (	id	);
alter table	pr_emp_tds_section_deductions	add primary key (	id	);
alter table	pr_emp_branch_allowances	add primary key (	id	);
alter table	pr_emp_inc_anual_stag	add primary key (	id	);
alter table	pr_emp_payslip_allowance	add primary key (	id	);
alter table	pr_emp_jaib_caib_general	add primary key (	id	);
alter table	pr_allowance_field_master	add primary key (	id	);
alter table	pr_emp_allowances_spl	add primary key (	id	);
alter table	pr_branch_allowance_master	add primary key (	id	);
alter table	pr_emp_allowances_gen	add primary key (	id	);
alter table	pr_emp_deductions	add primary key (	id	);
alter table	pr_pfopeningbal	add primary key (	Id	);
--alter table	pr_emp_adv_loans_adjustments	add primary key (	id	);
alter table	pr_emp_loans_projection	add primary key (	id	);
alter table	pr_emp_adv_loans_child	add primary key (	id	);