CREATE TABLE [dbo].[pr_emp_payslip_netSalary](
	[id] [int] NULL,
	[gen_date] [datetime] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NOT NULL,
	[emp_code] [int] NOT NULL,
	[designation] [nvarchar](100) NULL,
	[branch] [nvarchar](100) NULL,
	[working_days] [int] NULL,
	[lop] [int] NULL,
	[er_basic] [float] NULL,
	[er_da] [float] NULL,
	[er_cca] [float] NULL,
	[er_hra] [float] NULL,
	[er_interim_relief] [float] NULL,
	[er_telangana_inc] [float] NULL,
	[gross_amount] [float] NULL,
	[dd_provident_fund] [float] NULL,
	[dd_income_tax] [float] NULL,
	[dd_prof_tax] [float] NULL,
	[dd_club_subscription] [float] NULL,
	[dd_telangana_officers_assn] [float] NULL,
	[lop_amount] [float] NULL,
	[deductions_amount] [float] NULL,
	[net_amount] [float] NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NULL,
	[spl_da] [float] NULL,
	[spl_allw] [float] NULL,
	[spl_type] [nvarchar](20) NULL,
	[sentmail] [bit] NULL,
	[downloadpdf] [bit] NULL,
	[final_process] [bit] NULL
) ON [PRIMARY]

----payslip old
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_payslip_Old](
[id] [int] NULL,
[gen_date] [datetime] NULL,
[fy] [int] NULL,
[fm] [date] NULL,
[emp_id] [int] NOT NULL,
[emp_code] [int] NOT NULL,
[designation] [nvarchar](100) NULL,
[branch] [nvarchar](100) NULL,
[working_days] [int] NULL,
[lop] [int] NULL,
[er_basic] [float] NULL,
[er_da] [float] NULL,
[er_cca] [float] NULL,
[er_hra] [float] NULL,
[er_interim_relief] [float] NULL,
[er_telangana_inc] [float] NULL,
[gross_amount] [float] NULL,
[dd_provident_fund] [float] NULL,
[dd_income_tax] [float] NULL,
[dd_prof_tax] [float] NULL,
[dd_club_subscription] [float] NULL,
[dd_telangana_officers_assn] [float] NULL,
[lop_amount] [float] NULL,
[deductions_amount] [float] NULL,
[net_amount] [float] NULL,
[active] [bit] NOT NULL,
[trans_id] [int] NULL,
[spl_da] [float] NULL,
[spl_allw] [float] NULL,
[spl_type] [nvarchar](20) NULL,
[sentmail] [bit] NULL,
[downloadpdf] [bit] NULL,
[final_process] [bit] NULL
) ON [PRIMARY]

GO
-----payslip allownace old
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_payslip_allowance_Old](
[id] [int] NULL,
[emp_id] [int] NULL,
[emp_code] [int] NULL,
[payslip_mid] [int] NULL,
[all_mid] [int] NULL,
[all_name] [nvarchar](100) NULL,
[all_amount] [float] NULL,
[all_type] [nvarchar](50) NULL,
[active] [bit] NOT NULL,
[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO

----pasylip deductions old
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_payslip_deductions_Old](
[id] [int] NULL,
[emp_id] [int] NULL,
[emp_code] [int] NULL,
[payslip_mid] [int] NULL,
[dd_mid] [int] NULL,
[dd_name] [nvarchar](100) NULL,
[dd_amount] [float] NULL,
[dd_type] [nvarchar](50) NULL,
[active] [bit] NOT NULL,
[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO

--adhoc data migration

CREATE TABLE [dbo].[dm_adhoc_earn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] varchar(50) NOT NULL,
	[code] varchar(20) NOT NULL,
	[type] varchar(20) NOT NULL,
	);

CREATE TABLE [dbo].[pr_pfopeningbal](
	[Id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[year] [int] NULL,
	[pfprint] [decimal](18, 0) NULL,
	[vpfprint] [decimal](18, 0) NULL,
	[BankPrint] [decimal](18, 0) NULL,
	[PFint] [decimal](18, 0) NULL,
	[VPFint] [decimal](18, 0) NULL,
	[Bankint] [decimal](18, 0) NULL
)


--payslip customization--

CREATE TABLE [dbo].[pr_payslip_customization](
	[id] [int] NULL,
	[m_id] [int] NOT NULL,
	[field_type] [nvarchar](20) NULL,
	[cust_status] [nvarchar](20) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NULL
)

	--tds allowance 
	
	
create table pr_emp_tds_process_allowances(id int,fy int,fm date,emp_id int,emp_code int,m_id int,all_name varchar(50),all_type varchar(50),all_amount float,active bit,trans_id bigint);


--Encashment customization--
CREATE TABLE [dbo].[pr_encashment_earnings_customization](
	[id] [int] NULL,
	[m_id] [int] NOT NULL,
	[field_type] [nvarchar](20) NULL,
	[cust_status] [nvarchar](20) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NULL
)

CREATE TABLE [dbo].[pr_encashment_deductions_customization](
	[id] [int] NULL,
	[m_id] [int] NOT NULL,
	[field_type] [nvarchar](20) NULL,
	[cust_status] [nvarchar](20) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NULL
)


--form 12b table creation

CREATE TABLE [dbo].[pr_emp_incometax_12b](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[value] [varchar](max) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL 
);

/****** Object:  Table [dbo].[all_constants]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[all_constants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_type] [nvarchar](50) NOT NULL,
	[functionality] [nvarchar](50) NOT NULL,
	[constant] [nvarchar](50) NOT NULL,
	[value] [nvarchar](50) NOT NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[new_num]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[new_num](
	[table_name] [varchar](50) NOT NULL,
	[num_col_name] [varchar](30) NOT NULL,
	[last_num] [int] NOT NULL,
	[trans_id] [int] NOT NULL,
 CONSTRAINT [new_num_pk] PRIMARY KEY CLUSTERED 
(
	[table_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_adhoc_payments]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_adhoc_payments](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[payment_date] [date] NULL,
	[cheque_no] [bigint] NULL,
	[remarks] [nvarchar](300) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_adhoc_payments_det]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_adhoc_payments_det](
	[id] [int] NOT NULL,
	[p_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_adjust_payments]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_adjust_payments](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_adv_loans_adj]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_adv_loans_adj](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[amount] [int] NULL,
	[interest_amount] [int] NULL,
	[recovered_amount] [int] NULL,
	[principle_recovered] [int] NULL,
	[interest_recovered] [int] NULL,
	[installments] [int] NULL,
	[installment_amount] [int] NULL,
	[payment_mode_1] [nvarchar](30) NULL,
	[payment_mode_2] [nvarchar](30) NULL,
	[cash_paid_on] [date] NULL,
	[os_loan_amount] [int] NULL,
	[os_interest_amount] [int] NULL,
	[os_month_interest] [int] NULL,
	[os_total_amount] [int] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_allowance_field_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[pr_allowance_field_master](
	[id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[pr_allowance_field_master] ADD [benefit] [varchar](10) NULL

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_basic_anual_incr_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_basic_anual_incr_master](
	[id] [int] NOT NULL,
	[designation_id] [int] NULL,
	[pay_period] [date] NULL,
	[basic] [float] NULL,
	[increment] [float] NULL,
	[stages] [int] NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_basic_stag_incr_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_basic_stag_incr_master](
	[id] [int] NOT NULL,
	[designation_id] [int] NULL,
	[pay_period] [date] NULL,
	[basic] [float] NULL,
	[increment] [float] NULL,
	[stages] [int] NULL,
	[incr_type] [nvarchar](50) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_branch_allowance_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[pr_branch_allowance_master](
	[id] [int] NOT NULL,
	[name] [varchar](150) NULL,
	[description] [varchar](150) NULL,
	[amount] [varchar](150) NULL,
	[date] [datetime] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[pr_branch_allowance_master] ADD [benefit] [varchar](10) NULL

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_contribution_field_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[pr_contribution_field_master](
	[id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_deduction_field_emp]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_deduction_field_emp](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_deduction_field_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[pr_deduction_field_master](
	[id] [int] NULL,
	[name] [nvarchar](70) NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[pr_deduction_field_master] ADD [benefit] [varchar](10) NULL

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_deputation]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_deputation](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[cheque_no] [bigint] NULL,
	[payment_date] [date] NULL,
	[amount] [float] NULL,
	[remarks] [nvarchar](300) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_deputation_det]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_deputation_det](
	[id] [int] NOT NULL,
	[p_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_earn_field_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[pr_earn_field_master](
	[id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[pr_earn_field_master] ADD [benefit] [varchar](10) NULL

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_eligibility_amount_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_eligibility_amount_master](
	[id] [int] NULL,
	[eligibility] [nvarchar](40) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adhoc_contribution_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adhoc_contribution_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL,
	[adhoc_type] [nvarchar](40) NULL,
	[gen_date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adhoc_deduction_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adhoc_deduction_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL,
	[adhoc_type] [nvarchar](40) NULL,
	[gen_date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adhoc_det_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adhoc_det_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[gen_date] [datetime] NULL,
	[cheque_no] [bigint] NULL,
	[remarks] [nvarchar](300) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL,
	[adhoc_type] [nvarchar](40) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adhoc_earn_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adhoc_earn_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL,
	[adhoc_type] [nvarchar](40) NULL,
	[gen_date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adj_contribution_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adj_contribution_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adj_deduction_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adj_deduction_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adj_earn_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adj_earn_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adv_loan_type]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adv_loan_type](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[loan_type] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adv_loans]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adv_loans](
	[id] [int] NOT NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[designation] [int] NULL,
	[loan_type_mid] [int] NULL,
	[total_amount] [bigint] NULL,
	[total_installment] [int] NULL,
	[principal_installment] [int] NULL,
	[interest_installment] [int] NULL,
	[completed_installment] [int] NULL,
	[remaining_installment] [int] NULL,
	[sanction_date] [date] NULL,
	[installment_start_date] [date] NULL,
	[installment_end_date] [date] NULL,
	[method] [nvarchar](50) NOT NULL,
	[interest_rate] [float] NULL,
	[installment_amount] [float] NULL,
	[interest_installment_amount] [float] NULL,
	[total_recovered_amount] [float] NULL,
	[code_master] [nvarchar](20) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL,
	[fm] [date] NULL,
	[fy] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adv_loans_adjustments]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adv_loans_adjustments](
	[id] [int] NULL,
	[emp_adv_loans_mid] [int] NOT NULL,
	[emp_adv_loans_child_mid] [int] NOT NULL,
	[principal_open_amount] [float] NULL,
	[principal_paid_amount] [float] NULL,
	[principal_balance_amount] [float] NULL,
	[interest_accured] [float] NULL,
	[interest_open_amount] [float] NULL,
	[interest_paid_amount] [float] NULL,
	[interest_balance_amount] [float] NULL,
	[installments_paid] [int] NULL,
	[installments_amount] [float] NULL,
	[installments_paid_date] [date] NULL,
	[payment_type] [nvarchar](20) NULL,
	[payment_mode] [nvarchar](20) NULL,
	[cash_paid_on] [date] NULL,
	[covered_installments] [int] NULL,
	[amount_paid] [float] NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NULL,
	[fm] [date] NULL,
	[fy] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_adv_loans_child]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_adv_loans_child](
	[id] [int] NOT NULL,
	[emp_adv_loans_mid] [int] NOT NULL,
	[slno] [int] NOT NULL,
	[date_disburse] [date] NULL,
	[loan_amount] [int] NULL,
	[interest_rate] [float] NULL,
	[interest_accured] [float] NULL,
	[principal_amount_recovered] [float] NULL,
	[interest_amount_recovered] [float] NULL,
	[total_amount_recovered] [float] NULL,
	[priority] [int] NULL,
	[principal_start_date] [date] NULL,
	[principal_end_date] [date] NULL,
	[interest_start_date] [date] NULL,
	[interest_end_date] [date] NULL,
	[total_principal_installments] [int] NULL,
	[total_interest_installments] [int] NULL,
	[os_principal_amount] [float] NULL,
	[os_interest_amount] [float] NULL,
	[os_this_month_interest] [float] NULL,
	[os_total_amount] [float] NULL,
	[principal_recovered_flag] [bit] NOT NULL,
	[interest_recovered_flag] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_allowance_process]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_allowance_process](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[allowance_type] [nvarchar](30) NULL,
	[allowance_oneday__amount] [float] NULL,
	[no_of_days] [int] NULL,
	[employee_amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_allowances]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_allowances](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[allowance] [nvarchar](40) NULL,
	[from _date] [date] NULL,
	[to _date] [date] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_allowances_gen]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_allowances_gen](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_allowances_spl]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_allowances_spl](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_biological_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_biological_field](
	[emp_code] [int] NULL,
	[emp_id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[father_husband_name] [nvarchar](30) NULL,
	[father_dob] [date] NULL,
	[f/h_relation] [nvarchar](10) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_branch_allowances]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_branch_allowances](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[allowance_mid] [nvarchar](40) NULL,
	[from_date] [date] NULL,
	[to_date] [date] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_categories]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_categories](
	[id] [int] NULL,
	[category] [nvarchar](100) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_deductions]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_deductions](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_deput_contribution_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_deput_contribution_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_deput_deduction_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_deput_deduction_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_deput_det_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_deput_det_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[payment_date] [date] NULL,
	[cheque_no] [bigint] NULL,
	[cheque_amount] [float] NULL,
	[remarks] [nvarchar](300) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_designation]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_designation](
	[id] [int] NULL,
	[cat_mid] [int] NULL,
	[designation] [nvarchar](100) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_encashment]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_encashment](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[prev_encash_date] [date] NULL,
	[total_pl] [int] NULL,
	[encash] [int] NULL,
	[authorisation] [bit] NOT NULL,
	[process] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_epf_deduction_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_epf_deduction_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_epf_earn_field]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_epf_earn_field](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_general]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pr_emp_general](
	[emp_id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_code] [int] NULL,
	[sex] [nvarchar](10) NULL,
	[martial_status] [nvarchar](10) NULL,
	[zone] [nvarchar](30) NULL,
	[designation] [nvarchar](50) NULL,
	[designation_category] [nvarchar](50) NULL,
	[region_for_p_tax] [nvarchar](30) NULL,
	[p_tax_region] [nvarchar](50) NULL,
	[address] [nvarchar](80) NULL,
	[per_address] [nvarchar](80) NULL,
	[per_phoneno] [nvarchar](20) NULL,
	[native_place] [nvarchar](50) NULL,
	[division] [nvarchar](50) NULL,
	[pf_no] [nvarchar](50) NULL,
	[uan_no] [nvarchar](50) NULL,
	[doj_pf] [date] NULL,
	[email_id] [nvarchar](50) NULL,
	[identify_mark1] [nvarchar](80) NULL,
	[identify_mark2] [nvarchar](80) NULL,
	[blood_group] [nvarchar](20) NULL,
	[religion] [nvarchar](20) NULL,
	[cur_reservation] [nvarchar](30) NULL,
	[join_reservation] [nvarchar](30) NULL,
	[pan_no] [nvarchar](20) NULL,
	[reg_order] [int] NULL,
	[branch_code] [nvarchar](20) NULL,
	[pay_bank] [nvarchar](20) NULL,
	[account_code] [nvarchar](20) NULL,
	[bank_accno] [nvarchar](30) NULL,
	[customer_id] [nvarchar](30) NULL,
	[acc_with_dccb] [nvarchar](30) NULL,
	[phy_handicapped] [bit] NULL,
	[house_provided] [bit] NULL,
	[emp_age] [int] NULL,
	[designation_no] [int] NULL,
	[stl_temp] [nvarchar](20) NULL,
	[fest_adv] [nvarchar](30) NULL,
	[artr_emp] [nvarchar](20) NULL,
	[aadhaar_no] [varchar](15) NULL,
	[dob] [date] NULL,
	[exp] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_emp_hfc_details]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_hfc_details](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[account_no] [nvarchar](50) NULL,
	[amount] [float] NULL,
	[pay_type] [nvarchar](50) NULL,
	[pay_months] [nvarchar](75) NULL,
	[stop] [nvarchar](50) NULL,
	[stop_month] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_inc_anual_stag]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_inc_anual_stag](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[basic_amount] [float] NULL,
	[increment_amount] [float] NULL,
	[increment_type] [nvarchar](50) NULL,
	[increment_date] [date] NULL,
	[stages] [int] NULL,
	[process] [bit] NOT NULL,
	[authorisation] [bit] NOT NULL,
	[post_process] [bit] NOT NULL,
	[active] [bit] NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_inc_anual_stag_date_change]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_inc_anual_stag_date_change](
	[id] [int] NOT NULL,
	[emp_code] [int] NULL,
	[desi_mid] [int] NULL,
	[Basic] [float] NULL,
	[Increment] [float] NULL,
	[increment_type] [nvarchar](50) NULL,
	[increment_date] [date] NULL,
	[increment_date_change] [date] NULL,
	[remarks] [nvarchar](300) NULL,
	[process] [bit] NOT NULL,
	[authorisation] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_inc_date_change]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_inc_date_change](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[inc_date] [date] NULL,
	[inc_date_change] [date] NULL,
	[remarks] [nvarchar](100) NULL,
	[process] [bit] NOT NULL,
	[authorisation] [bit] NOT NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_incometax_12ba]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_incometax_12ba](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[perq_amt] [float] NULL,
	[rec_amt] [float] NULL,
	[tax_amt] [float] NULL,
	[tax_paid] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_incometax_12ba_master]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_incometax_12ba_master](
	[id] [int] NOT NULL,
	[nature_of_perq] [nvarchar](100) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_incometaxdet]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_incometaxdet](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[paymentdate] [date] NULL,
	[bankname] [nvarchar](30) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_jaib_caib_general]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_jaib_caib_general](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[basic_before_inc] [int] NULL,
	[incr_incen_type] [nvarchar](50) NULL,
	[no_of_inc] [int] NULL,
	[Incrementamt] [float] NULL,
	[incrementdate] [date] NULL,
	[incr_WEF_date] [date] NULL,
	[active] [bit] NOT NULL,
	[authorisation] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_lic_details]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pr_emp_lic_details](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[account_no] [varchar](50) NULL,
	[amount] [float] NULL,
	[pay_type] [nvarchar](50) NULL,
	[pay_months] [nvarchar](75) NULL,
	[stop] [nvarchar](50) NULL,
	[stop_month] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_emp_loan_rate_select]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_loan_rate_select](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[loan_name] [nvarchar](40) NULL,
	[inst_rate] [float] NULL,
	[m_rate] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_loans_ledger]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pr_emp_loans_ledger](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[emp_loan_id] [int] NULL,
	[emp_loan_child_id] [int] NULL,
	[loan_type_mid] [int] NULL,
	[interest_rate] [float] NULL,
	[installment_number] [int] NULL,
	[installment_part] [char](1) NULL,
	[loan_opening] [float] NULL,
	[installment_amount] [float] NULL,
	[loan_closing] [float] NULL,
	[interest_opening] [float] NULL,
	[interest_accrued] [float] NULL,
	[interest_repaid] [float] NULL,
	[interest_closing] [float] NULL,
	[total_paid] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_emp_other_tds_deductions]    Script Date: 12-07-2019 6:12:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_other_tds_deductions](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[tds_amount] [float] NULL,
	[remarks] [nvarchar](300) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_pay_field]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_pay_field](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_payslip]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_payslip](
	[id] [int] NULL,
	[gen_date] [datetime] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NOT NULL,
	[emp_code] [int] NOT NULL,
	[designation] [nvarchar](100) NULL,
	[branch] [nvarchar](100) NULL,
	[working_days] [int] NULL,
	[lop] [int] NULL,
	[er_basic] [float] NULL,
	[er_da] [float] NULL,
	[er_cca] [float] NULL,
	[er_hra] [float] NULL,
	[er_interim_relief] [float] NULL,
	[er_telangana_inc] [float] NULL,
	[gross_amount] [float] NULL,
	[dd_provident_fund] [float] NULL,
	[dd_income_tax] [float] NULL,
	[dd_prof_tax] [float] NULL,
	[dd_club_subscription] [float] NULL,
	[dd_telangana_officers_assn] [float] NULL,
	[lop_amount] [float] NULL,
	[deductions_amount] [float] NULL,
	[net_amount] [float] NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NULL,
	[spl_da] [float] NULL,
	[spl_allw] [float] NULL,
	[spl_type] [nvarchar](20) NULL,
	[sentmail] [bit] NULL,
	[downloadpdf] [bit] NULL,
	[final_process] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_payslip_allowance]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_payslip_allowance](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[payslip_mid] [int] NULL,
	[all_mid] [int] NULL,
	[all_name] [nvarchar](100) NULL,
	[all_amount] [float] NULL,
	[all_type] [nvarchar](50) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_payslip_deductions]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_payslip_deductions](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[payslip_mid] [int] NULL,
	[dd_mid] [int] NULL,
	[dd_name] [nvarchar](100) NULL,
	[dd_amount] [float] NULL,
	[dd_type] [nvarchar](50) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_perdeductions]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_perdeductions](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[section] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_perearning]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_perearning](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[m_id] [int] NULL,
	[m_type] [nvarchar](10) NULL,
	[amount] [float] NULL,
	[section] [nvarchar](50) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_pf_nominee]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_pf_nominee](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[member_name] [nvarchar](40) NULL,
	[gender] [nvarchar](40) NULL,
	[relation] [nvarchar](40) NULL,
	[dob] [date] NULL,
	[age] [int] NULL,
	[date] [date] NULL,
	[percentage] [int] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_pf_non_cert_elg]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_pf_non_cert_elg](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[loan_id] [int] NULL,
	[cert_id] [int] NULL,
	[cert_name] [nvarchar](50) NULL,
	[status] [nvarchar](10) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_pf_nonrepayable_loan]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_pf_nonrepayable_loan](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[pf_account_no] [nvarchar](40) NULL,
	[purpose_of_advance] [int] NULL,
	[rate_of_basic_da] [float] NULL,
	[eligibility_amount] [float] NULL,
	[amount_applied] [float] NULL,
	[own_share] [float] NULL,
	[vpf] [float] NULL,
	[bank_share] [float] NULL,
	[total] [float] NULL,
	[active] [bit] NULL,
	[authorisation] [bit] NULL,
	[process] [bit] NULL,
	[trans_id] [int] NULL,
	[sanctioned_amount] [float] NULL,
	[sanction_date] [datetime] NULL,
	[process_date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_pf_repayable_loan]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pr_emp_pf_repayable_loan](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[pf_account_no] [nvarchar](40) NULL,
	[purpose_of_advance] [int] NULL,
	[pf_loans_id] [varchar](50) NULL,
	[amount_applied_for] [float] NULL,
	[(basic+DA)*months_1] [float] NULL,
	[rate_of_interest] [float] NULL,
	[amount_applied_for_2] [float] NULL,
	[calculating_months] [int] NULL,
	[netownshare+25%netbankshare_3] [float] NULL,
	[least_of_3] [float] NULL,
	[gross_salary] [float] NULL,
	[net_salary] [float] NULL,
	[net_minus_pf] [float] NULL,
	[1/3rd_of_gross_salary] [float] NULL,
	[total_outstanding_loan] [float] NULL,
	[amount_recommended_for_sanction] [float] NULL,
	[active] [bit] NULL,
	[authorisation] [bit] NULL,
	[process] [bit] NULL,
	[trans_id] [int] NULL,
	[sanction_date] [datetime] NULL,
	[process_date] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_emp_promotion]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_promotion](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[category] [nvarchar](100) NULL,
	[desig] [nvarchar](100) NULL,
	[basic_pay_fixed] [int] NULL,
	[promotion_date] [date] NULL,
	[incre_due_date] [date] NULL,
	[senoirity_order] [nvarchar](20) NULL,
	[authorisation] [bit] NOT NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_rent_details]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_rent_details](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[rent_mid] [int] NULL,
	[amount] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_roi]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_emp_roi](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[loan_name] [nvarchar](40) NULL,
	[loan_method] [nvarchar](100) NULL,
	[loan_amt] [float] NULL,
	[cum_loan_repay] [float] NULL,
	[bal_amt] [float] NULL,
	[balance_instal] [int] NULL,
	[int_amt] [float] NULL,
	[cum_int_repay] [float] NULL,
	[balance] [float] NULL,
	[period] [int] NULL,
	[instal_completed] [int] NULL,
	[curr_roi] [float] NULL,
	[curr_instl_amt] [float] NULL,
	[new_roi] [float] NULL,
	[new_instl_amt] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_emp_tds_process]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pr_emp_tds_process](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[empid] [int] NULL,
	[empcode] [int] NULL,
	[tan_no] [varchar](10) NULL,
	[sal_basic] [float] NULL,
	[sal_fixed_personal_allowance] [float] NULL,
	[sal_fpa_hra_allowance] [float] NULL,
	[sal_fpiip] [float] NULL,
	[sal_da] [float] NULL,
	[sal_hra] [float] NULL,
	[sal_cca] [float] NULL,
	[sal_interim_relief] [float] NULL,
	[sal_telangana_increment] [float] NULL,
	[sal_spl_allow] [float] NULL,
	[sal_spcl_da] [float] NULL,
	[sal_pfperks] [float] NULL,
	[sal_loanperks] [float] NULL,
	[sal_incentive] [float] NULL,
	[sal_value_of_perquisites] [float] NULL,
	[sal_profits_in_lieu_of_salary] [float] NULL,
	[gross_salary] [float] NULL,
	[house_rent_allowance] [float] NULL,
	[total_of_sec10] [float] NULL,
	[balance_gross_min_sec10] [float] NULL,
	[standard_deductions] [float] NULL,
	[tax_of_employement] [float] NULL,
	[tds_aggregate] [float] NULL,
	[income_chargeable_bal_minus_agg] [float] NULL,
	[other_income_by_the_emp] [float] NULL,
	[interest_on_housing] [float] NULL,
	[gross_total_income] [float] NULL,
	[aggregate_of_deductible] [float] NULL,
	[total_income] [float] NULL,
	[tax_on_total_income] [float] NULL,
	[section_87a] [float] NULL,
	[education_cess] [float] NULL,
	[tax_payable] [float] NULL,
	[tax_deducted_at_source] [float] NULL,
	[tax_paid_by_the_employer] [float] NULL,
	[balance_tax] [float] NULL,
	[balance_months] [float] NULL,
	[tds_per_month] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL,
	[tds_update] [bit] NULL,
	[final] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_emp_tds_section_deductions]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pr_emp_tds_section_deductions](
	[id] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[empid] [int] NULL,
	[empcode] [int] NULL,
	[m_id] [int] NULL,
	[section_type] [varchar](50) NULL,
	[gross] [float] NULL,
	[qual] [float] NULL,
	[ded] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_incometax_bank_payment]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_incometax_bank_payment](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[payment_date] [date] NULL,
	[bank_name] [nvarchar](50) NULL,
	[amount] [float] NULL,
	[challan_no] [nvarchar](20) NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_list_of_documents_master]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_list_of_documents_master](
	[id] [int] NULL,
	[loan_id] [int] NULL,
	[document_name] [nvarchar](60) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_loan_master]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_loan_master](
	[id] [int] NOT NULL,
	[loan_id] [nvarchar](30) NULL,
	[loan_description] [nvarchar](300) NULL,
	[interest_rate] [float] NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_month_attendance]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_month_attendance](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[status] [nvarchar](50) NULL,
	[status_date] [date] NULL,
	[leaves_available] [nvarchar](200) NULL,
	[lop_days] [float] NULL,
	[absent_days] [float] NULL,
	[working_days] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_month_details]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_month_details](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[week_holidays] [float] NULL,
	[paid_holidays] [float] NULL,
	[payment_date] [date] NULL,
	[da_slabs] [float] NULL,
	[da_points] [float] NULL,
	[da_percent] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL,
	[month_days] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_ob_share]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_ob_share](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[own_share] [float] NULL,
	[own_share_intrst_amount] [float] NULL,
	[vpf] [float] NULL,
	[vpf_intrst_amount] [float] NULL,
	[bank_share] [float] NULL,
	[bank_share_intrst_amount] [float] NULL,
	[da] [float] NULL,
	[basic] [float] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_payroll_service_run]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_payroll_service_run](
	[id] [int] NOT NULL,
	[run_date_time] [datetime] NULL,
	[emp_codes] [text] NULL,
	[status] [int] NULL,
	[process_count] [int] NULL,
	[total_count] [int] NULL,
	[err_desc] [nvarchar](250) NULL,
	[active] [bit] NOT NULL,
	[trans_id] [int] NOT NULL,
	[payslip_type] [nvarchar](40) NULL,
	[final_process] [bit] NULL,
	[sent_mail] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_pf_loan_type_master]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_pf_loan_type_master](
	[id] [int] NULL,
	[pf_loan_type] [nvarchar](40) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_pf_nominee]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_pf_nominee](
	[id] [int] NULL,
	[emp_id] [int] NULL,
	[emp_code] [int] NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[member_name] [nvarchar](40) NULL,
	[gender] [nvarchar](40) NULL,
	[relation] [nvarchar](40) NULL,
	[dob] [date] NULL,
	[age] [int] NULL,
	[date] [date] NULL,
	[percentage] [int] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_purpose_of_advance_master]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pr_purpose_of_advance_master](
	[id] [int] NULL,
	[purpose_name] [nvarchar](40) NULL,
	[month] [int] NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL,
	[ptype] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pr_rentdetails_master]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pr_rentdetails_master](
	[id] [int] NULL,
	[name] [nvarchar](30) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pr_spl_allowance_field_master]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[pr_spl_allowance_field_master](
	[id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[type] [varchar](10) NULL,
	[active] [bit] NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[transaction_tbl]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[transaction_tbl](
	[trans_id] [numeric](30, 0) NOT NULL,
	[user_id] [int] NOT NULL,
	[user_init] [varchar](30) NOT NULL,
	[tran_date] [datetime] NOT NULL,
	[app_name] [varchar](30) NULL,
	[app_revision] [varchar](20) NULL,
	[workstation_id] [varchar](20) NULL,
	[spid] [smallint] NULL,
 CONSTRAINT [transaction_tbl_pk] PRIMARY KEY CLUSTERED 
(
	[trans_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[transaction_touch]    Script Date: 12-07-2019 6:12:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[transaction_touch](
	[id] [numeric](32, 0) IDENTITY(1,1) NOT NULL,
	[trans_id] [numeric](32, 0) NOT NULL,
	[operation] [char](1) NOT NULL,
	[entity_name] [varchar](40) NOT NULL,
	[entity_oid] [int] NOT NULL,
	[key1] [varchar](50) NULL,
	[key2] [varchar](50) NULL,
	[key3] [varchar](50) NULL,
	[key4] [varchar](50) NULL,
	[key5] [varchar](50) NULL,
	[key6] [varchar](50) NULL,
	[key7] [varchar](50) NULL,
	[key8] [varchar](50) NULL,
 CONSTRAINT [transaction_touch_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[pr_adhoc_payments] ADD  CONSTRAINT [df_pr_adhoc_payments_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_adhoc_payments_det] ADD  CONSTRAINT [df_pr_adhoc_payments_det_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_adjust_payments] ADD  CONSTRAINT [df_pr_adjust_payments_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_adv_loans_adj] ADD  CONSTRAINT [df_pr_adv_loans_adj_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_allowance_field_master] ADD  CONSTRAINT [df_pr_allowance_field_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_basic_anual_incr_master] ADD  CONSTRAINT [df_pr_emp_basic_anual_incr_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_basic_stag_incr_master] ADD  CONSTRAINT [df_pr_emp_basic_stag_incr_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_branch_allowance_master] ADD  CONSTRAINT [df_pr_branch_allowance_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_contribution_field_master] ADD  CONSTRAINT [df_pr_contribution_field_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_deduction_field_emp] ADD  CONSTRAINT [df_pr_deduction_field_emp_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_deduction_field_master] ADD  CONSTRAINT [df_pr_deduction_field_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_deputation] ADD  CONSTRAINT [df_pr_deputation_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_deputation_det] ADD  CONSTRAINT [df_pr_deputation_det_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_earn_field_master] ADD  CONSTRAINT [df_pr_earn_field_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_eligibility_amount_master] ADD  CONSTRAINT [df_pr_eligibility_amount_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adhoc_contribution_field] ADD  CONSTRAINT [df_pr_emp_adhoc_contribution_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adhoc_deduction_field] ADD  CONSTRAINT [df_pr_emp_adhoc_deduction_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adhoc_det_field] ADD  CONSTRAINT [df_pr_emp_adhoc_det_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adhoc_earn_field] ADD  CONSTRAINT [df_pr_emp_adhoc_earn_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adj_contribution_field] ADD  CONSTRAINT [df_pr_emp_adj_contribution_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adj_deduction_field] ADD  CONSTRAINT [df_pr_emp_adj_deduction_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adj_earn_field] ADD  CONSTRAINT [df_pr_emp_adj_earn_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adv_loan_type] ADD  CONSTRAINT [df_pr_emp_adv_loan_type_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_adv_loans] ADD  CONSTRAINT [df_pr_emp_adv_loans_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_allowance_process] ADD  CONSTRAINT [df_pr_emp_allowance_process_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_allowances] ADD  CONSTRAINT [df_pr_emp_allowances_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_allowances_gen] ADD  CONSTRAINT [df_pr_emp_allowances_gen_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_allowances_spl] ADD  CONSTRAINT [df_pr_emp_allowances_spl_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_biological_field] ADD  CONSTRAINT [df_pr_emp_biological_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_categories] ADD  CONSTRAINT [df_pr_emp_categories_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_deductions] ADD  CONSTRAINT [df_pr_emp_deductions_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_deput_contribution_field] ADD  CONSTRAINT [df_pr_emp_deput_contribution_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_deput_deduction_field] ADD  CONSTRAINT [df_pr_emp_deput_deduction_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_deput_det_field] ADD  CONSTRAINT [df_pr_emp_deput_det_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_designation] ADD  CONSTRAINT [df_pr_emp_designation_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_encashment] ADD  CONSTRAINT [DF_pr_emp_encashment_authorisation]  DEFAULT ((0)) FOR [authorisation]
GO
ALTER TABLE [dbo].[pr_emp_encashment] ADD  CONSTRAINT [DF_pr_emp_encashment_process]  DEFAULT ((0)) FOR [process]
GO
ALTER TABLE [dbo].[pr_emp_encashment] ADD  CONSTRAINT [DF_pr_emp_encashment_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_epf_deduction_field] ADD  CONSTRAINT [df_pr_emp_epf_deduction_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_epf_earn_field] ADD  CONSTRAINT [df_pr_emp_epf_earn_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_inc_anual_stag_date_change] ADD  CONSTRAINT [df_pr_emp_inc_anual_stag_date_change1_active]  DEFAULT ((0)) FOR [process]
GO
ALTER TABLE [dbo].[pr_emp_inc_anual_stag_date_change] ADD  CONSTRAINT [DF_pr_emp_inc_anual_stag_date_change_authorise]  DEFAULT ((0)) FOR [authorisation]
GO
ALTER TABLE [dbo].[pr_emp_inc_anual_stag_date_change] ADD  CONSTRAINT [df_pr_emp_inc_anual_stag_date_change_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_incometax_12ba] ADD  CONSTRAINT [df_pr_emp_incometax_12ba_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_incometax_12ba_master] ADD  CONSTRAINT [df_pr_emp_incometax_12ba_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_incometaxdet] ADD  CONSTRAINT [df_pr_emp_incometaxdet_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_jaib_caib_general] ADD  CONSTRAINT [df_pr_emp_jaib_caib_general_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_jaib_caib_general] ADD  CONSTRAINT [DF_pr_emp_jaib_caib_general_authorisation]  DEFAULT ((0)) FOR [authorisation]
GO
ALTER TABLE [dbo].[pr_emp_loan_rate_select] ADD  CONSTRAINT [df_pr_emp_loan_rate_select_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_loans_ledger] ADD  CONSTRAINT [df_pr_emp_loans_ledger_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_other_tds_deductions] ADD  CONSTRAINT [df_pr_emp_other_tds_deductions_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_pay_field] ADD  CONSTRAINT [df_pr_emp_pay_field_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_payslip] ADD  CONSTRAINT [df_pr_emp_payslip_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_payslip_allowance] ADD  CONSTRAINT [DF_pr_emp_payslip_allowance_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_payslip_deductions] ADD  CONSTRAINT [DF_pr_emp_payslip_deductions_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_perdeductions] ADD  CONSTRAINT [df_pr_emp_perdeductions_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_perearning] ADD  CONSTRAINT [df_pr_emp_perearning_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_pf_nominee] ADD  CONSTRAINT [df_pr_emp_pf_nominee_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_pf_nonrepayable_loan] ADD  CONSTRAINT [df_pr_emp_pf_loan_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_promotion] ADD  CONSTRAINT [df_pr_emp_promotion_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_roi] ADD  CONSTRAINT [df_pr_emp_roi_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_tds_process] ADD  CONSTRAINT [df_emp_tds_process_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_emp_tds_section_deductions] ADD  CONSTRAINT [df_emp_tds_section_deductions_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_list_of_documents_master] ADD  CONSTRAINT [df_pr_list_of_documents_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_loan_master] ADD  CONSTRAINT [df_pr_emp_loan_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_month_attendance] ADD  CONSTRAINT [df_pr_month_attendance_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_month_details] ADD  CONSTRAINT [df_pr_month_details_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_payroll_service_run] ADD  CONSTRAINT [DF_pr_payroll_service_run_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_pf_loan_type_master] ADD  CONSTRAINT [df_pr_pf_loan_type_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_pf_nominee] ADD  CONSTRAINT [df_pr_pf_nominee_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_purpose_of_advance_master] ADD  CONSTRAINT [df_pr_purpose_of_advance_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_rentdetails_master] ADD  CONSTRAINT [DF_pr_emp_rentdetails_master_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[pr_spl_allowance_field_master] ADD  CONSTRAINT [df_pr_spl_allowance_field_master_active]  DEFAULT ((1)) FOR [active]
GO
--for loans data migration

CREATE TABLE [dbo].[dm_payslip_loans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] varchar(50) NOT NULL,
	[code] varchar(20) NOT NULL,
	[type] varchar(20) NOT NULL,
 CONSTRAINT [dm_loans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
-- for Form16 Entry form
/****** Object:  Table [dbo].[pr_form16_codes]    Script Date: 03-10-2019 16:47:48 ******/

CREATE TABLE [dbo].[pr_form16_codes](
	[id] [int] NOT NULL,
	[fy] [int] NULL,
	[fm] [date] NULL,
	[payment_date] [date] NULL,
	[bsrcode_of_bank] [nvarchar](50) NULL,
	[challan_no] [nvarchar](20) NULL,
	[trans_id] [int] NULL
) ON [PRIMARY]
GO




	
	