 .activeClass {
    background: #ffdb99;
}

.secondClass {
    /*background: #FF9999;*/
    color: red;
}

.dataTables_wrapper .dataTables_paginate {
    background: rgb(60, 141, 188) !important;
    float: none !important;
}

.dataTables_wrapper .dataTables_paginate .next {
        width: 84px !important;
    }

.buttons-excel {
    color: #0f930fed !important;
}

.buttons-pdf {
    color: #ff0000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #7692a2;
}


.side_heading h1, .main_heading h1 {
    /*margin-bottom: -8px;*/
}

table.dataTable thead th, table.dataTable thead td {
    border: 1px solid #ddd !important;
    background: #3a4651;
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #fff !important;
    padding-left: 10px !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: none !important;
        border: 1px solid #3c8dbc !important;
    }

#grid_filter label {
    color: #000 !important;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    /* padding-top: 0.755em; */
    padding: 10px 0 0 10px;
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate {
    background:linear-gradient(#2e3841, #2e3841ba) !important;
    float: none !important;
    padding: 0px 5px 5px 0;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) !important;
        border: 1px solid #3c8dbc !important;
        color: #000 !important;
    }

.reports-grids th {
    background-color: rgb(60, 141, 188) !important;
    color: #fff;
    text-align: left;
    padding: 8px 35px 8px 10px;
}
.reports-grids td {
    text-align: left;
}
#gridallod th {
    background-color: rgb(60, 141, 188) !important;
    color: #fff;
    text-align: left;
	padding: 10px 8px;
}
#gridallod td {
    text-align: center;
}
.example_length {
    font-weight: 600;
}
.dataTables_filter label {
    font-weight: 600;
}
.dataTables_filter input[type="search"] {
    -webkit-appearance: textfield !important;
    height: 26px;
    margin: 0 0 6px 8px;
}



