<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--<add key="DefaultConnection" value="Data Source=MAVEN-WD\SQLEXPRESS;Initial Catalog=sssdb21may;User id=sa;Password=Mavensoft;"/>-->
    <add key="DefaultConnection" value="Server=183.82.100.162; Database=hrms_140823; user id=sa; password=Mavensoft;"/>
    <!--<add name="DefaultConnection" connectionString="Server=MAVEN-WD\SQLEXPRESS; Database=pr_oct16_raji; user id=sa; password=Mavensoft;" providerName="System.Data.SqlClient" />-->
  </appSettings>
</configuration>
