@{
    ViewBag.Title = "AllEmployees";
    Layout = "~/Areas/Payroll/Views/Shared/_PayrollLayout.cshtml";
}
<div class="page">
    <div class="form-horizontal form-horizontal2">
        <div class="page_start">
            <div class="col-md-2">
                @{Html.RenderPartial("_PVPayrollMenu");}
            </div>
            <div class="col-md-10">
                <div class="main_heading">
                    <h1>All Employees</h1>
                    <div class="col-md-12">
                        <table id="allowance_master" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Short Name</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SP_SHIFT DUTY</td>
                                    <td>Shift Duty Allowance</td>
                                    <td>750</td>
                                </tr>
                                <tr>
                                    <td>SP_KEY</td>
                                    <td>SPL Key</td>
                                    <td>500</td>
                                </tr>
                                <tr>
                                    <td>SP_CASHIER</td>
                                    <td>SPL Cashier</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td>BR_MGR</td>
                                    <td>Br Manager Allowance</td>
                                    <td>1500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 mt_10">
                        <div class="pull-right">
                            <button type="reset" class="btn btn-default calcel">Close</button>
                            <button type="submit" class="btn btn-primary">New</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#allowance_master').DataTable();
    });
</script>