<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--Log4Net-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\TimesheetLogs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="16MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>          
  </log4net>
  <appSettings>
    <add key="Name" value="Office,Hotspot,Home" />
    <add key="mavendb" value="Data Source=mavensoftserver;Initial Catalog=Hrms_021224_before;User id=sa;Password=Maven@12345;" />
    <add key="timesheetdb" value="Data Source=mavensoftserver;Initial Catalog=sss_021224_before;User id=sa;Password=Maven@12345;" />
	  <!--<add key="mavendb" value="Data Source=DESKTOP-LLV7QHJ\SQLEXPRESS;Initial Catalog=hrms_test;Integrated Security=True;" />
          <add key="timesheetdb" value="Data Source=DESKTOP-LLV7QHJ\SQLEXPRESS;Initial Catalog=SSS_030225;Integrated Security=True;" />-->

    <add key="TimeConsiderForHalfDay" value="03:00~06:00" />
    <add key="TimeConsiderForHalfDayNew" value="01:00" />
    <add key="UserOutTimeGracePeriodMins" value="11" />
    <add key="ShiftUserInOutTimeToleranceMins" value="120" />
    <add key="sentissuesfrom" value="abc@gmail.com" />
    <add key="sentissuesto" value="raju.k@mavensoft.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>