
@{
    ViewBag.Title = "GeneralVouchers";
    Layout = "~/Areas/Payroll/Views/Shared/_PayrollLayout.cshtml";
}

<div class="page">
    <div class="form-horizontal form-horizontal2">
        <div class="page_start">
            <div class="col-md-2">
                @{Html.RenderPartial("_PVPayrollMenu");}
            </div>
            <div class="col-md-10">
                <div class="main_heading">
                    <h1>Report on General Vouchers<span class="year-end">TGCAB 01-04-2018 - 31-03-2019</span></h1>
                    <div class="col-md-4 mt_10">
                        <div class="main_heading">
                            <div class="col-md-6">
                                <input id="file" type="radio" name="file" value="1"><label for="currentmonth"><span><span></span></span>Current Month</label>
                                <div class="clearfix"></div>
                                <input id="file" type="radio" name="file" value="2"><label for="monthly"><span><span></span></span>Monthly</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt_10">
                        <input id="file" type="radio" name="file" value="1"><label for="regularemployee"><span><span></span></span>Regular Employeee</label>
                        <div class="clearfix"></div>
                        <input id="file" type="radio" name="file" value="1"><label for="supplementaryemployee"><span><span></span></span>Supplementary Employee</label>
                    </div>
                    <div class="col-md-4 mt_10">
                        <div class="main_heading">
                            <div class="col-md-6">
                                <input id="file" type="radio" name="file" value="1"><label for="debitdetails"><span><span></span></span>Debit Details</label>
                                <div class="clearfix"></div>
                                <input id="file" type="radio" name="file" value="2"><label for="creditdetails"><span><span></span></span>Credit Details</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="reset" class="btn btn-default cancel">Close</button>
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


